In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Salaries.csv")

/Users/self/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (3,4,5,6,12) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [12]:
df.head(2)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411,0,400184,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966,245132,137811,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

In [15]:
df.EmployeeName = df.EmployeeName.astype(str)

In [16]:
df.JobTitle = df.JobTitle.astype(str)

In [27]:
df[df['EmployeeName'] == 'JOSEPH DRISCOLL']['BasePay']

24    140547
Name: BasePay, dtype: object

In [28]:
#How much does JOSEPH DRISCOLL make (including benefits)? **

df[df['EmployeeName'] == 'JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

In [29]:
# What is the name of highest paid person (including benefits)?**
df['TotalPayBenefits'].max()

567595.43

In [30]:
df[df['TotalPayBenefits'] == df['TotalPayBenefits'].max()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411,0,400184,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN

In [32]:
#What is the name of lowest paid person (including benefits)? 
#Do you notice something strange about how much he or she is paid?**
df[df['TotalPayBenefits' ] == df['TotalPayBenefits'].min()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,NaN,San Francisco,PT

In [38]:
#What was the average (mean) BasePay of all employees per year? (2011-2014) ? **
df.groupby('Year').mean()['TotalPayBenefits']

Year
2011     71744.103871
2012    100553.229232
2013    101440.519714
2014    100250.918884
Name: TotalPayBenefits, dtype: float64

In [39]:
#How many unique job titles are there? **
df['JobTitle'].nunique()

2159

In [40]:
#what are the unique job titles in this dataframe
df['JobTitle'].unique()

array(['GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY',
       'CAPTAIN III (POLICE DEPARTMENT)',
       'WIRE ROPE CABLE MAINTENANCE MECHANIC', ..., 'Conversion',
       'Cashier 3', 'Not provided'], dtype=object)

In [41]:
len(df['JobTitle'].unique())

2159

In [42]:
#What are the top 5 most common jobs? **
df['JobTitle'].value_counts().head(5)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

In [48]:
#How many Job Titles were represented by only one person in 2013? 
#(e.g. Job Titles with only one occurence in 2013?) **
sum(df[df['Year'] == 2013]['JobTitle'].value_counts() == 1)

202

In [51]:
#How many people have the word Chief in their job title? (This is pretty tricky) **
df['JobTitle'].head(1000)

0      GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
1                     CAPTAIN III (POLICE DEPARTMENT)
2                     CAPTAIN III (POLICE DEPARTMENT)
3                WIRE ROPE CABLE MAINTENANCE MECHANIC
4        DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)
                            ...
995                         CLINICAL NURSE SPECIALIST
996                         CLINICAL NURSE SPECIALIST
997                         CLINICAL NURSE SPECIALIST
998                         CLINICAL NURSE SPECIALIST
999                         CLINICAL NURSE SPECIALIST
Name: JobTitle, Length: 1000, dtype: object

In [53]:
def check_job_title(title):
    if( 'chief' in title.lower().split()):
        return True
    else:
        return False

In [54]:
print(check_job_title('CLINICAL NURSE SPECIALIST'))

False

In [56]:
sum(df['JobTitle'].apply( lambda x: check_job_title(x)))

477

In [60]:
#Bonus: Is there a correlation between length of the Job Title string and Salary? **
df['JobTitleLength'] = df['JobTitle'].apply(len)

In [61]:
df[['JobTitle', 'JobTitleLength']]

                                              JobTitle  JobTitleLength
0       GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY              46
1                      CAPTAIN III (POLICE DEPARTMENT)              31
2                      CAPTAIN III (POLICE DEPARTMENT)              31
3                 WIRE ROPE CABLE MAINTENANCE MECHANIC              36
4         DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)              44
...                                                ...             ...
148649                                       Custodian               9
148650                                    Not provided              12
148651                                    Not provided              12
148652                                    Not provided              12
148653                      Counselor, Log Cabin Ranch              26

[148654 rows x 2 columns]

In [62]:
df[['JobTitle', 'JobTitleLength']].corr()

                JobTitleLength
JobTitleLength             1.0

In [63]:
df[['TotalPayBenefits', 'JobTitleLength']].corr()

                  TotalPayBenefits  JobTitleLength
TotalPayBenefits          1.000000       -0.036878
JobTitleLength           -0.036878        1.000000